all=true
audit=true
audit-level=high
color=true
description=true
editor=code
engine-strict=true
init-author-name=Cody Brunner
init-author-email=me@codybrunner.com
init-author-url=https://codybrunner.com
init-license=MIT
init-version=0.1.0
progress=true
registry=https://registry.npmjs.org/
save-prefix=~
shell=/bin/zsh
sign-git-commit=true
sign-git-tag=true
strict-ssl=true
tag=latest
